<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ydl.list">
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 安装权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 定位权限（用于 WebView 定位） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n" >

        <activity
            android:name=".coordinator.activity.CoordinatorSimpleActivity"
            android:exported="true" />
        <activity
            android:name=".coordinator.activity.CoordinatorListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.DialogActivity"
            android:exported="true" /> <!-- 表示当前已经适配了分区存储 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" /> <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".BrowserActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.VideoSelectActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ImageSelectActivity"
            android:exported="true" />
        <activity
            android:name=".crash.RestartActivity"
            android:exported="true" />
        <activity
            android:name=".crash.CrashActivity"
            android:exported="true" />
        <activity
            android:name=".aop.AopActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecyclerActivity" />
        <activity android:name=".activity.RefreshAndMoreActivity1" />
        <activity android:name=".activity.RefreshAndMoreActivity2" />
        <activity android:name=".activity.HeaderFooterActivity" />
        <activity android:name=".activity.InsertRemoveActivity" />
        <activity android:name=".activity.MultiStyleActivity" />
        <activity android:name=".activity.StickyHeaderActivity" />
        <activity android:name=".activity.StickyViewActivity" />
        <activity android:name=".activity.StickyNormalActivity" />
        <activity android:name=".activity.StaggeredGridActivity" />
        <activity android:name=".activity.StaggeredActivity" />
        <activity android:name=".activity.StaggeredLoadMoreActivity" />
        <activity android:name=".activity.CollapsingActivity" />
        <activity android:name=".activity.TouchMoveActivity" />
        <activity android:name=".activity.TouchMoveActivity2" />
        <activity android:name=".activity.DeleteAndTopActivity" />
        <activity android:name=".activity.SpanRecyclerViewActivity" />
        <activity android:name=".activity.TypeActivity" />
        <activity android:name=".activity.LoadMoreActivity" />
        <activity android:name=".activity.LayoutActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.TagRecyclerViewActivity" />
        <activity android:name=".activity.ScrollActivity" />
        <activity android:name=".activity.EditActivity" />
        <activity android:name=".ui.activity.CameraActivity" />
        <activity android:name=".ui.activity.GuideActivity" />
        <activity android:name=".coordinator.activity.CoordinatorSimple1Activity" />
    </application>

</manifest>